mat-toolbar {
  margin-bottom: 3rem;
  /* background-color: #1a237e; */
  background-color: #4e0d3a;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  display:flex;
}
